#age_checker_overlay{
	background-size: 100% auto;
	overflow: auto;
	
	#age_checker_verification_popup {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border: medium none;
		left: 50%;
		margin-left: -300px;
		margin-top: 0;
		max-width: 600px;
		top: 75px;
		width: 100%;
		padding-bottom: 70px;
		
		.age-checker-container{
			text-align: center;
		}
		
		.logo {
			display: block;
			text-align: center;
			width: 100%;
			float: none;
			margin: 0;
			
			img {
				width: 100px;
			}
		}
		.isotipo{
			clear: both;
			font-family: aachenbold;
			margin: 10px auto 0;
			max-width: 380px;
			
			.image {
				float: left;
				img {
					width: 40px;
				}
			}
			.title {
				display: inline-block;
				padding: 15px 0 0 4px;
				* {
					color: #305d6e;
					display: inline-block;
					font-size: 1.1em;
					letter-spacing: 0;
					margin-right: 0.4em;
				}
				.second-text{
					color: #007cc5;
				}
			}
		}
		.question{
			clear: both;
			color: #007dc5;
			font-family: aachenbold;
			font-size: 2.8em;
			padding-top: 0.6em;
			text-align: center;
			line-height: 1.1em;
		}
		.description {
			font-family: trim_light;
			font-size: 0.9em;
			margin: 1.6em auto 0;
			width: 264px;
			color: #315d6f;
		}
		
		#age_checker_widget {
			margin: 0;
			padding: 0;
			
			#age_checker_error_message{
				color: #ff0000;
			}
			
			#age-checker-getform {
				margin-top: 8px;
			}

			.form-item {
				margin: 0 5px 0px 5px;
				input {
					background: #ffffff none repeat scroll 0 0;
					border: 2px solid #d0d0d0;
					color: #657f8c;
					font-family: aachenbold;
					font-size: 2em;
					height: 2.2em;
					padding: 0.25em 0.2em 0.0em;
					text-align: center;
					width: 2.5em;
					line-height: 1.3em;
				}
			}
			.form-item-year input {
				width: 3.4em !important;
			}
			.form-submit{
				font-family: trim_light;
				background: #007dc5 none repeat scroll 0 0;
				border: medium none;
				color: #ffffff;
				display: block;
				margin: 1.7em auto 0;
				text-transform: uppercase;
				font-size: 0.9em;
			}

		}
		#age_checker_message{
			.age-checker-younger{
				text-align: center;
				font-family: trim_light;
				font-size: 0.7em;
				
				a{
					color: #657f8c;
					text-decoration: underline;
				}
			}
			.age-checker-footer{
				background: #ffffff none repeat scroll 0 0;
				border-top: 2px solid #222222;
				bottom: 0;
				left: 0;
				padding: 21px 10px;
				position: fixed;
				right: 0;
				text-align: center;
				font-weight: 600;
			}
		}
	}
	
}

/* 
 * 
 * Media queries
 * 
 */
 
// Cambiar fondo y reducir el margen superior
@media (max-width: 992px) {
	#age_checker_overlay{
		background-image: url('../images/fondo-agechecker-mobile.jpg') !important;
		#age_checker_verification_popup {
			top: 30px !important;
		}
	}
}

// Arreglar el centrado
@media (max-width: 600px) {
	#age_checker_verification_popup {
		margin-left: 0 !important;
		left: 0 !important;
	}
}

// Reducir el isologotipo
@media (max-width: 450px) {
	#age_checker_verification_popup .isotipo .title * {
		font-size: 1em !important;
		letter-spacing: 0 !important;
		margin-right: 0.2em !important;
	}
}

// Reducir el isologotipo para telefonos minusculos
@media (max-width: 340px) {
	#age_checker_verification_popup .isotipo {
		.image {
			float: none !important;
			margin-top: 10px;
		}
		.title {
			padding-top:0 !important
		}
	}
}
