.page-contact{
	#content{
		margin-top: 0;
		padding: 1em 0;
		background-image: url(/sites/g/files/ogq1826/f/images_age_checker/Fondo.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		#content-inner{
			padding-top: 0;
			.tabs{
				display: none;
			}
		    #block-system-main{
		    	.view-id-contact{
					text-align: center;
					margin-top: 0;
					.view-content{
					    .contact-container{
							text-align: center;
							width: 100%;
							margin: 0 auto;
							padding: .2em;
							@media @phone{
								width: 45%;
							}
							@media @tablet{
								width: 67%;
							}
							@media screen and (min-width:802px){
								background-color: white;
							}
							.logo-ico{
								@media @tablet{
									display: none;
								}
							}
							.contact-img{
								display: none;
								@media screen and (min-width:802px){
									display: block;
								}
								img{
									width: 100%;
									height: auto;
								}
							}
							h1, h2, h5, h6{
								font-family: aachenbold;
								color:@dblue;
								text-transform: uppercase;
							}
							h1{
								font-size: 3em;
								color:@bluetxt;
								@media screen and (min-width:802px){
									color:@dblue;
								}
							}
							p, a{
								font-family: arial;
								color:@bluetxt;
								text-transform: uppercase;
								font-size: 15px;
								margin: 20px 0px 25px;

								@media screen and (min-width:802px){
									text-decoration: none;
								}
							}
							.help-block{
								color:@bluetxt;
							}
							.contact-f {
								margin-top: 2em;
								h5{
									font-size: 1.8em;
								}
								&.contact-text{
									a{
										text-decoration: underline;
										text-transform: none;
									}
								}
								&.cont-address{
									.address{
										margin-top: 1em;
										h6{
											font-size: 1.5em;
										}
										p{
											text-decoration: underline;
										}
									}
								}
								&.copy-container{
									p{
										text-transform: none;
										font-size: 12px;
									}
								}
								&.contact-copy {
									p {
										text-transform: none;
									}
								}
							}
					    }
					}
		    	}
		    }
		}
	}
}
