@font-face {
    font-family: 'aachenbold';
    src: url('fonts/Aachen-webfont/aachen_bold-webfont.eot');
    src: url('fonts/Aachen-webfont/aachen_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aachen-webfont/aachen_bold-webfont.woff2') format('woff2'),
         url('fonts/Aachen-webfont/aachen_bold-webfont.woff') format('woff'),
         url('fonts/Aachen-webfont/aachen_bold-webfont.ttf') format('truetype'),
         url('fonts/Aachen-webfont/aachen_bold-webfont.svg#aachenbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
