#footer.wrapper-footer.wrapper.clearfix.tb-scope #prefooter {
    padding-top:0;
    .stack-width {
	    max-width: 100%;
	}
	.box {
	    padding: 0;

	    .linksFooter {
			padding: 80px 0;
			background-color: #ebebeb;
      text-align: center;
			ul.menu {
			    list-style-type: none;
			    padding: 0;
          display: inline-block;
				li.menu-title {
				    width: 100px;
				    margin-left: 10px;
				    float: left;
				    a{
					    color: #2d5e6d;
					    font-family: "aachenbold";
					    font-size: 12px;
					    letter-spacing: 1px;
					    line-height: 20px;
					    text-transform: uppercase;
					    &:hover {
							opacity: 0.8;
						}
					}
					.menu-links a {
					    color: #8d9194;
					    font-family: "trim_medium";
					    font-size: 11px;
					    font-weight: lighter;
					    line-height: 22px;
					    text-transform: uppercase;
					    &:hover {
							opacity: 0.8;
						}
					}

				}

			    li.expanded, li.collapsed, li.leaf {
				    list-style-type: none;
				}

			}
	    }

	    .socialMediaFooter {
			padding: 50px 0;
			border-bottom: 2px solid #ebebeb;
			.view-content {
			    text-align: center;
			    .views-row {
				    display: inline-block;
				    margin-left: 15px;
				    margin-top: 0;
				    .icon_social_media a:hover {
				    	opacity: 0.8;
				    }
				}
			}

		}
	}
}

#footer.wrapper-footer.wrapper.clearfix.tb-scope #footer-inner  {
	padding: 60px 0 40px;
	margin: 0;
	.stack-width {
	    max-width: 100%;
	}
	.col-2 {
	    .col-first {
	    width: 100%;
			.row-1 {
			    float: left;
			    margin: 0 !important;
          img{
            height: auto;
            max-width: 200px;
            opacity: 0.5;
            width: 50%;
            @media @desktop{
              opacity: 0.80;
            }
          }
			}
			.row-2 {
			    float: right;
			    margin: 0;
			    .text-1 {
				    color: #2d5e6d;
				    float: left;
				    font-size: 0.8em;
				    margin-right: 1.5em;
				    text-align: right;
				    vertical-align: middle;
				}
        .images-logos{
          float: right;
        }
				.image-1, .image-2 {
          display: inline-block;
				  margin-right: 15px;
				}
			}
		}

	}

  .box.col-2.clearfix.tb-terminal > .col-second{
    font-size: 0.8em;
    margin-top: 1em;
    padding-right: 128px;
    width: 100%;
    ul.menu{
      text-align: right;
      padding-bottom: 30px;
      li{
        display: inline-block;
        &:after{
          content: '|';
          padding: 0 1em;
        }
        &.last:after{
          content: '';
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #prefooter {
    display: none !important;
    visibility: hidden;
  }
  /*que pasa*/
  #footer-inner{
    margin-top: 0px !important;
    .box.col-2.clearfix.tb-terminal{
      & > .col-first{
        width:100%;
        text-align: center;
        .row-1{
          width: 100%;
        }
        .row-2{
          width: 100%;
          text-align: center;
          padding-top: 20px;

          & > div{
            display: inline-block;
            float: none !important;
          }
          .text-1{
            display: block;
            margin-top: 1em;
            text-align: center !important;
          }
        }
      }
      & > .col-second{
        width:100%;
        margin-top: 1em !important;
        padding: 0 !important;
        ul.menu{
          text-align: center !important;
          padding: 0;
        }
      }
    }
  }
}

//IE 100% width bug fix
.stack-copyright{
    width: 100%;
    overflow: hidden;
}
