/*
 * CONTENEDORES GENERALES DE LA PAGINA
 */

body{
 margin-top: 0;
 #content{
   margin-top: 0;
   #content-inner{
     padding-top: 0;
     .box.clearfix.tb-terminal.tb-preview-shuffle-regions{
       padding: 0;
       .tabs{
 				display: none;
 			}
     }
   }
 }
}

.page-width.tb-scope{
	width: 100%;
}

#breadcrumb-region{
	display: none;
  visibility: hidden;
}
.page{
	padding-bottom:0;
}

#content{
	padding-top: 69px !important;
	background-position: 0 69px !important;
}
#page-title{
	display: none;
}
.wrapper-content.tb-scope  {
	margin-top: 0px;
}

/*
 * TITULARES
 */

.title01-serif-blue{
	color: @dblue;
	font-size: 2.5em;
	font-family: aachenbold;
	line-height: 1.3em;
	margin-bottom: 0.4em;
  text-align: center;
}

.title01-serif-white{
	.title01-serif-blue;
	color: #fff;
}

.title02-serif-blue{
	.title01-serif-blue;
	font-size: 1.5em;
	color: @bluetxt;
}

.title02-serif-white{
	.title02-serif-blue;
	color: #fff;
}

.title01-sans-white{
	color: #fff;
	font-family: trim_regular;
	font-size: 1.2em;
  text-align: center;
}

/*
 * ESTILOS DE PARRAFO
 */

.paragraph-sans-blue{
	color: @bluetxt;
	font-family: trim_regular;
}

.paragraph-sans-white{
	color: #fff;
}

/*
 * BOTONES
 */
.base-boton{
	color: #fff;
	background: @dblue none repeat scroll 0 0;
  padding: 12px 18px;
	font-family: trim_regular;
}

.button-small-blue a{
	.base-boton;
}

.button-small-white a{
	.base-boton;
	color: @dblue;
	background-color: #fff;
}

.button-large-white a{
	.base-boton;
	color: @dblue;
	background-color: #fff;
}

@media screen and (max-width:400px){
  .button-large-white a, .button-small-white a, .button-small-blue a{
    font-size: 1em !important;
    padding: 6px !important;
  }
}
/*
 * ICONOS
 */

.iso-castle-blue{
	margin-bottom: 1.4em;
  text-align: center;
}

.iso-castle-white{
	margin-bottom: 1.4em;
	text-align: center;
}

/*
 * FORMULARIOS
 *
 * Mudé las clases globales de los formularios de ROEC a roec-global-forms.less
 * la idea es fragmentar mas este archivo para que no nos pisemos el trabajo
 *
 */
