.page-ice-core-buy-online{
	#content{
		margin-top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		@media @tablet{
			background-position: 0 center !important;
		}
		@media @desktop{
		    height: 630px!important;
		}
		@media @wide{
			height: 800px !important;
			background-position: 0 !important;
			margin-top: 60px;
			padding-top: 0 !important;
		}
		#content-inner{
			padding-top: 0;
			.tabs{
				display: none;
			}
		    #block-system-main{
		    	.view-display-id-page_ice_core_buy_online{
					text-align: center;
					margin-top: 0;
					.view-content{
					    margin-top: 3%;
						//padding-right: 0;
					    //position: absolute;
					    //right: 0px;
					    @media screen and (min-width:802px){
					    	margin-top: 11%;
					    }
						>div{
							.buy-online-container{
								.latas{
								     @media screen and (min-width:802px){
								    	display: none;
								    }
								    img{
								    	margin: 0 auto;
								    }
								}
								.icon-image-top{
									display: block;
									padding: 1em 0;
									@media @tablet{
										display: none;
									}
								}
								.first-title, .third-title{
									color:@dblue;
									font-family: aachenbold;
								}
								.first-title{
									font-size: 2em;
									width: 100%;
								    margin: 0 auto;
								    line-height: 1.2em;
								    padding-bottom: 15px;
								    @media @phone{
								    	width: 80%;
								    	font-size: 2.25m;
								    }
								}
								.description{
									margin: 0 auto;
									width: 71%;
									@media @tablet{
									//width: 100%;
									width: 83%;
									}
									.copy-b{
										font-family: 'trim_light';
										@media @tablet{
											display: none;
										}
									}
									.copy-d{
										font-family: 'trim_medium';
										display: none;
										color: #315c6e;

										@media @tablet{
											display: block;
										}
									}
								}
								.buttons{
									margin: 0 auto;
									width: 83%;
									@media @phone{
										width: 49%;
									}
									@media @tablet{
										width: 100%;
									}
									>div{
										a{
											background:@dblue;
											//padding: 0.8em 0em;
										    color: white;
										    display: block;
											padding: 1em;
											font-family: 'trim_regular';
											@media @tablet{
												font-family: aachenbold;
												padding: .5em 1em;
											}
										}
									}
									.first-line{
										margin-bottom: 1em;
										@media @tablet{
											margin-bottom: 0;
										}
									}
								}
								.footer-title{
									display: none;
									margin-top: 2em;
									font-family: aachenbold;
									color: #396375;
									img{
										width: auto;
										height: 2em;
										margin-top: -2px;
										position: relative;
									}
									span{
										color:@dblue;
									}
									@media @tablet{
										display: block;
									}
								}
							}
						}
					}
		    	}
		    }
		}
	}
}
