.page-ice-core{
	#content{
		margin-top: 0;
		background-repeat: no-repeat;
		background-size: cover;
		@media @tablet{
		    background-size: 100%;
		    background-position: 0 0;
		}
		@media @desktop{
		    height: 680px!important;
		}

		@media @wide{
		    height: 700px!important;
		    background-position: 0 !important;
		    margin-top: 60px;
		    padding-top: 0 !important;
		}

		#content-inner{
			padding-top: 0;
			.tabs{
				display: none;
			}
		    #block-system-main{
		    	.view-display-id-page_ice_core{
					text-align: center;
					margin-top: 0;
					.view-content{
						padding-right: 0;
					    margin-top: 3%;
					    position: absolute;
					    right: 0px;
					    @media screen and (min-width:802px){
					    	margin-top: 11%;
					    }
						>div{
							.landing-page-container{
								.latas{
								    @media screen and (min-width:802px){
								    	display: none;
								    }
								    img{
								    	margin: 0 auto;
								    }
								}
								.icon-image-top{
									display: block;
									padding: 1em 0;
									@media @tablet{
										display: none;
									}
								}
								.first-title, .third-title{
									color:@dblue;
									font-family: aachenbold;
								}
								.first-title{
									font-size: 2.5em;
								}
								.second-title{
									font-weight: bold;
									width: 70%;
									font-family: 'trim_medium';
									font-size: 2.5em;
									line-height: 1em;
									margin: 0 auto;
									color: @bluetxt;
								}
								.third-title{
									font-size: 1.5em;
									line-height: 2em;
								}
								.description{
									margin: 0 auto;
									width: 71%;
									font-family: 'trim_medium';
									text-transform: uppercase;
									color: @bluetxt;

									@media @tablet{
										text-transform: none;
										font-size: 0.82em;
									}

									@media (min-width: 1500px) {
										font-size: 1em;
									}
								}
								.buttons{
									margin: 0 auto;
									width: 83%;
									@media @phone{
										width: 49%;
									}
									@media @tablet{
										width: 80%;
										margin: 0 auto;
										float: none;
									}
									>div{
										margin: .8em 0;
										a{
											background:@dblue;
											padding: 0.8em 0em;
										    color: white;
										    display: block;
										    font-family: 'trim_regular';
											@media @tablet{
											font-family: aachenbold;
												padding:1em;
											}
										}
									}
									.first-line{
										margin-bottom: 1em;
										@media @tablet{
											margin-bottom: 0;
										}
									}
								}
								.footer-title{
									display: none;
									margin-top: 2em;
									font-family: aachenbold;
									color: @bluetxt;
									img{
										width: auto;
										height: 2em;
										margin-top: -2px;
										position: relative;
										@media @tablet{
											height: 3em;
										}
									}
									span{
										color:@dblue;
									}
									@media @tablet{
										display: block;
									}
								}
							}
						}
					}
		    	}
		    }
		}
	}
}
