.page-ice-core-about{
	.item-list{
		background-size: 100%;
		background-position: center center;
		background-size: cover;
		.flex-viewport {
	    height: 630px!important;
		}
		&.mobile{
				.flex-viewport{
					height: auto!important;
				}
		}
	}
	#content{
		margin-top: 0;


		*{
			margin: 0;
			padding: 0;
		}

		.flex-control-nav.flex-control-paging {
			left: 10%;
			position: absolute;
			bottom: 0;
	    margin-bottom: auto;
	    margin-top: auto;
	    top: 0;
			z-index: 0;
			height: 80px;
			li{
				display: block;
				margin-bottom: 22px;
				a{
					border: 2px solid #315c6e;
					border-radius: 50%;
					color: rgba(0, 0, 0, 0);
					display: block;
					height: 10px;
					width: 10px;
					cursor: pointer;
					&.flex-active{
						background:#315c6e;
					}
				}
			}
		}

		.item-list{
			li{
				background-size: 100%;
				background-position: 0;
				background-repeat: no-repeat;
				height: auto;
				background-size: cover;
				overflow: hidden;
				&> div{
					margin: 0 auto;

					&> div {
						margin-top: 10%;
						text-align: center;
						padding-left: 90px;

						.icon-image {
							margin-bottom: 1em;
						}
						.title{
							color: #007dc4;
							font-family: aachenbold;
							font-size: 2.5em;
							line-height: 1.1em;
							padding: 0 1em;
							text-transform: uppercase;

							@media (max-width: 500px) {
								font-size: 1.7em;
							}
						}
						.description{
							font-family: trim_regular;
							color: #315c6e;
							margin-top: 1em;
						}
						.scroll{
							background: rgba(0, 0, 0, 0) url("../images/ice-core-scroll.png") no-repeat scroll 0 0;
							height: 40px;
							margin: 15px auto 0;
							width: 49px;
							cursor: pointer;
						}
						.latas {
							display: none;
							padding-top: 3em !important;
							visibility: hidden;
						}
						.link{
							margin: 1em auto 3em;
							width: 50%;

							a {
								background:@dblue;
								padding: 0.8em 0em;
							    color: white;
							    display: block;
							    font-family: 'trim_regular';

							}


						}






					}
				}
			}
		}



		#content-inner{
			padding-top: 0;
			.tabs{
				display: none;
			}
		    #block-system-main{
		    	.view-display-id-page_ice_core{
					text-align: center;
					margin-top: 0;
					.view-content{
						padding-right: 0;
					    margin-top: 3%;
					    position: absolute;
					    right: 0px;
					    @media @tablet{
					    	margin-top: 13%;
					    }
					}
		    	}
		    }
		}

		@media (max-width: 992px) {
			.flex-control-nav.flex-control-paging {
				display: none;
				visibility: hidden;
			}
			.item-list li{
				height: auto !important;
				& > div > div {
					padding: 0 80px;
					.scroll{
						display: none;
						visibility: hidden;
					}
					.latas {
						display: block;
						visibility: visible;
					}
				}
			}
			.flex-direction-nav{
				position: absolute;
				top: 190px;
				width: 100%;
				li{
					display: block;
					height: auto !important;
					position: absolute;
					top: 0;
					&.flex-nav-prev{
						left: 15px;
						a{
							background: rgba(0, 0, 0, 0) url("../images/ice-cor-about-mobile-slider-arrow.png") no-repeat scroll -29px 0;
						}
					}
					&.flex-nav-next{
						right: 15px;
					}
					a{
						background: rgba(0, 0, 0, 0) url("../images/ice-cor-about-mobile-slider-arrow.png") no-repeat scroll 0 0;
						color: transparent;
						display: block;
						height: 53px;
						width: 29px;
					}
				}
			}
		}

	}

}
