.page-lime-lite{
  margin-top: 0;
  #content{
    margin-top: 0;
    #content-inner{
      padding-top: 0;
      .box.clearfix.tb-terminal.tb-preview-shuffle-regions{
        padding: 0;
        .tabs{
  				display: none;
  			}
      }
    }
  }
}
