@espacioLogo : 15%;

#header{
	height: 69px;
  left: 0;
  position: fixed;
  right: 0;
	z-index: 2;
	font-family: trim_regular;
	border-bottom: 2px solid #cccccc;
	background-color: @dblue;

	@media @wide{
		top: 0;
	}

	//Outline focus
	a:focus {
		outline: 0;
		text-decoration: underline;
	}

	#header-inner{
		background: #ffffff none repeat scroll 0 0;
		float: left;
		width: @espacioLogo;
		height: 67px;
		.inset-2.inset.tb-terminal.tb-header-inner-2{
			background: url("../images/logo-menu.png") no-repeat scroll right center;
			float: right;
			height: 63px;
			margin-right: 32px;
			text-align: right;
			width: 85px;
			cursor: pointer;
		}
	}

	/*
	 *
	 * BOTONERA
	 *
	 */

	#navigation{
		clear: none;
		color: #ffffff;
		float: left;
		font-size: 0.8em;
		width: 100% - @espacioLogo;
		height: 67px;
		position: static;
		padding-left: 0;
		@media screen and (max-width:440px){
			/* donde estas */
			font-size: 0.5em !important;
		}
		.box{
			padding: 0;
		}
		#block-search-form{
			height: 28px;
			max-width: none !important;
			overflow: hidden;
			width: 26px;

			@media @phone{
				height: 25px;
				width: 23px;
			}
			.content{
				padding: 0 0 0 40px;
				background: rgba(0, 0, 0, 0) url("../images/head-search-reponsive.png") no-repeat scroll 0 0;
				background-size:  23px auto;

				@media @phone{
				    background-size: 18px auto;
    				background-position-y: 3px;
				}
			}
		}
		div {
			position: static;
		}
		.stack-width.inset-1.inset.tb-terminal{
			margin-top: 24px;
		}
		li{
			background: rgba(0, 0, 0, 0) url("../images/separador-menu.jpg") no-repeat scroll 0 center;
			display: inline-block;
			float: none;
			margin: 0;
			max-width: 120px;
    	padding: 0 20px;
			text-align: center;
			vertical-align: middle;
			position: static;
			a{
				color: #fff;
				&:hover {
					text-shadow: 0 0 5px #ffffff;
					text-decoration: none;
				}
			}
			ul.menu{
				background: #ffffff none repeat scroll 0 0;
				width: 100%;
				left: 0 !important;
				padding: 5px 0 5px @espacioLogo;
				margin-top: 2px;
				li.active-trail{
					background-color: #fff;
					a{
						color: @dblue;
					}
				}
				a{
					color: #808080;
				}
				&.desplegado {
					display: block !important;
					visibility: visible !important;
				}
			}
			&.first {
				background:none;
			}
		}
	}

	@media @desktop{
		#navigation {
			.stack-width.inset-1.inset.tb-terminal{
				margin-top: 0 !important;
			}
			ul.pulldown {
				height: 67px;
				display: table;
				> li {
					display: table-cell;
					height: 100%;
					vertical-align: middle;
					&.level-1.active-trail{
						background: none;
						background-color: #315d6f;
					}
					&.level-1.active-trail-next{
						background: none;
					}
					a{
						display: table-cell;
					}
					ul.menu{
						height: auto;
						li {
							display: inline-block;
	    				width: auto;
						}
					}
				}
			}
		}
	}

	@media (max-width: 992px) {
		/*Estilos perdidos por git y recuperados por el css*/
		#header-inner {
			width: 145px;
		}
		#navigation {
			float: right;
			padding: 14px 0 0 0;
			width: auto;

			.social-media-mobile{
				background: rgba(0, 0, 0, 0) url("../images/head-social-reponsive.png") no-repeat scroll 0 0;
		    height: 38px;
		    overflow: hidden;
		    padding-top: 38px;
		    width: 35px;
		    	@media @phone{
					background-size: 23px auto;
   				background-position-y: 5px;
				}
				&.desplegado{
					overflow: visible;
					.view-content{
						display: block;
						background: #ffffff none repeat scroll 0 0;
				    left: 0;
				    position: absolute;
				    right: 0;
				    top: 69px;
						.views-row {
							display: inline-block;
						    margin: 0px;
    						padding: 1em 0.5em;
						}
					}
				}
				.view-content{
					display: none;
				}
			}

			> div {
				display: inline-block;
    		vertical-align: middle;
				margin-right: 14px;
			}

			.stack-width.inset-1.inset.tb-terminal {
			background: rgba(0, 0, 0, 0) url("../images/head-menu-reponsive.png") repeat scroll 0 0;
			height: 31px;
			margin-top: 0;
			width: 35px;
			}
			.stack-width.inset-1.inset.tb-terminal > div {
			display: none;
			visibility: hidden;
			}
			.stack-width.inset-1.inset.tb-terminal.desplegado > div {
				display: block;
				visibility: visible;
				background: #007dc4 none repeat scroll 0 0;
				bottom: 0;
				left: 0;
				position: fixed;
				right: 0;
				top: 69px;
				z-index: 100;
				overflow: auto;
			}
			.stack-width.inset-1.inset.tb-terminal.desplegado > div li {
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				border-bottom: 1px solid;
				clear: both;
				display: block;
				float: none;
				font-size: 2em;
				margin-left: 10%;
				max-width: none;
				padding: 0.6em 0;
				width: 80%;
			}
			.stack-width.inset-1.inset.tb-terminal.desplegado > div li a {
			text-decoration: none;
			display: block;
			text-align: left;
			width: 100%;
			}
			.stack-width.inset-1.inset.tb-terminal.desplegado > div li a .more-indicator {
			background: rgba(0, 0, 0, 0) url("../images/head-reponsive-submenu.png") no-repeat scroll center center;
			float: right;
			position: relative;
			right: 20px;
			width: 30px;
			visibility: visible;
			}
			.stack-width.inset-1.inset.tb-terminal.desplegado > div li.desplegado ul {
			background: #007dc4;
			display: block;
			position: relative;
			visibility: visible;
			padding-left: 0;
			}
			.stack-width.inset-1.inset.tb-terminal.desplegado > div li.desplegado ul li {
			font-size: 1em;
			}
			.stack-width.inset-1.inset.tb-terminal.desplegado > div li.desplegado ul li a {
			color: #fff;
			}
		}
		/*Fin Estilos perdidos por git y recuperados por el css*/
	}
}
