.page-apply-for-citizen{
  #main{
    overflow: visible;
  }
  #breadcrumb{
    display: none;
  }
  #content-inner{
    padding-top: 0;
  }

  #content{
    @media @desktop{
        background-position: center bottom !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        //height: 1017px !important;
        margin-top: 0;
        padding-bottom: 100px;
    }
  }
  .back-port.block-blue-header{
    @media @desktop-max{
      background-position: center center !important;
    }
  }
}
