.block-blue-header{
  padding-top: 50px;
  text-align: center;
  @media @desktop-max{
    padding-bottom: 50px;
  }
  .iso-castle-blue{
    @media @desktop{
      display: none;
      visibility: hidden;
    }
  }
  .title01-serif-blue{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    @media @desktop{
      max-width: 380px;
    }
    @media @desktop-max{
      padding: 0 15px;
    }
  }
  .paragraph-sans-white{
    @media @desktop-max{
      font-size: 1.2em;
    }
  }
  .image01, .image02 {
    display: inline-block;
    vertical-align: bottom;
  }
  .image01{
    @media @desktop{
      display: none;
      visibility: hidden;
    }
    @media @phone-max{
      img{
        height: auto;
        width: 121px;
      }
    }
  }
  .image02{
    @media @desktop{
      display: none;
      visibility: hidden;
    }
    @media @phone-max{
      img{
        height: auto;
        width: 150px;
      }
    }
  }
}

.block-blue{
  color: white;
  font-family: "trim_medium";
  text-align: center;
  padding: 35px;
  position: relative;
  .link-small-white{
    color: #ffffff;
    text-decoration: underline;
  }
  @media @desktop-max{
    background-color: @dblue;
  }
  .title02-serif-white{
    @media @desktop-max{
      .title01-sans-white;
      font-size: 1.7em;
    }
  }
  .view-content{
    position: relative;
    z-index: 1;
    @media @desktop-max{
      margin: 0 auto;
      max-width: 450px;
      width: 100%;
    }
  }
  @media @desktop{
  	width: 650px;
  	background-color: @dblue;
  	margin:auto;
  	border: solid 5px white;
  }

  .webform-component-textfield, .webform-component-email{
    input{
      background-color: white;
      @media @desktop-max{
        width: 100%;
      }
      &::-webkit-input-placeholder {
         opacity: 1;
      }
      &:-moz-placeholder { /* Firefox 18- */
         opacity: 1;
      }
      &::-moz-placeholder {  /* Firefox 19+ */
         opacity: 1;
      }
      &:-ms-input-placeholder {
         opacity: 1;
      }
    }
  }
	.paragraph-sans-white{
		margin-top: 15px;
		margin-bottom: 15px;
    text-align: center;
    @media @desktop-max{
      font-size: 1.1em;
    }
	}
	.form-item{
		margin-bottom: 6px;
    margin-top: 0;
    @media @desktop-max{
      text-align: left;
      margin-top: 10px;
      p{text-align: center;}
    }
	}
	.form-text{
		color: @greytxt;
    height: 36px;
		padding: 5px;
		text-align: center;
    @media @desktop-max{
      text-align: left;
      padding-left: 10px;
    }
		border: 0;
	}
	select{
		-moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    background-color: white;
    background-image: url("../images/select-dropdown-arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 0px;
    box-sizing: border-box;
    color: @greytxt;
		text-align: center;
    height: 36px;
    padding: 5px;
    text-transform: uppercase;
    option{
      text-align: center;
    }
    // ie hack para esconder la flecha
    &::-ms-expand {
      display: none;
    }

    @media @desktop-max{
      width: 100%;
      text-align: left;
      padding-left: 10px;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      text-indent: 39%;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      padding-left: 22%;
    }
	}
	.form-type-checkbox{
		input[type="checkbox"]{
			display: none;
		}
		label{
			position: relative;
			font-size: 0.7em;
			padding-left: 30px;
			text-align: left;
      &:hover{
        cursor: pointer;
      }
      @media @desktop-max{
        font-size: 1.2em;
        padding-left: 36px;
      }
      &:before{
				content: '';
				width: 13px;
				height: 12px;
				background-color: white;
				position: absolute;
				top: 0;
				left: 0;
				cursor: pointer;
        @media @desktop-max{
          width: 25px;
          height: 25px;
        }
			}
      &.disable{
				color: #999 !important;
        &:before{
          background-color: #999;
        }
			}
			@media @desktop{
				width: 327px;
				margin: 0;
			}
		}
		input[type="checkbox"]:checked + label:before{
			background-image: url("../images/checkbox-check-icon.png");
			background-position: center center;
	    background-repeat: no-repeat;
	    background-size: 90% auto;
		}
	}
	fieldset{
		margin-top: 10px;
	}
	.form-submit{
		width: 245px;
		background: white none repeat scroll 0 0;
    color: @dblue;
    font-family: trim_regular;
    padding: 0.8em 0;
		border: 0;
    text-transform: uppercase;
    @media @desktop-max{
      font-size: 1.2em;
    }
	}
	@media @desktop{
		.form-text, select{
			width: 327px;
			margin: auto;
		}
	}
  .mollom-privacy{
    visibility: hidden;
    display: none;
  }
  .images-desk{
    @media @desktop-max{
      visibility: hidden;
      display: none;
    }
    bottom: 0;
    height: 100%;
    margin-left: -35px;
    position: absolute;
    width: 100%;
    z-index: 0;
    img{
      position: absolute;
      bottom:-85px;
      &:first-child{
        left: -105px;
      }
      &:last-child{
        right:-139px;
      }
    }

  }
}
