.page-roec{
  #content{
    background-position:center !important;
    background-size: cover;
    margin-top: 0;
    @media @wide{
      min-height: 970px;
    }
  }
  .view-roec-home {
    @media @desktop{
      max-width: 620px;
      margin-top: 3em;
    }
    .paragraph-sans-blue{
      margin: 0 auto;
      max-width: 485px;
    }
    .paragraph-sans-blue{
      font-family: trim_medium;
    }
    .roec-place-and-date{
      .paragraph-sans-blue;
      color: @dblue;
      font-size: 0.9em;
      margin-bottom: 40px;
    }

    ul{
      margin: 0 0 30px;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: top;
        width: 28%;
        margin-left: 30px;
        position: relative;
        &:first-child {
          margin-left: 0;
        }
        .img-desktop{
          margin-bottom: 20px;
        }
        .img-mobile{
          @media @desktop{
            display: none;
            visibility: hidden;
          }
        }
        .title01-serif-blue{
          font-size: 1.2em;
          letter-spacing: 0.05em;
        }
        .button-small-white a{
          bottom: 0;
          color: transparent;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          @media @desktop{
            background: transparent;
          }
        }
      }
    }

    .view-id-roec_home.view-display-id-block_1{
      .terms{
        @media @desktop{
          display: none;
          visibility: hidden;
        }
      }
      .bottom-roec-home{
        padding-bottom: 100px;
      }
    }

  }

  /*
   *
   * MEDIA < 992px
   *
   */
  @media @desktop-max{
    #content{
      /*INICIO Arreglar paddings*/
      padding-left: 0;
      padding-right: 0;
      #content-inner{
        padding-top: 0;
        .box.clearfix.tb-terminal.tb-preview-shuffle-regions{
          padding: 0;
          .tabs{display: none}
          .view.view-roec-home.view-id-roec_home.view-display-id-page.col-md-6.col-md-offset-5.col-sm-12.text-center{
            padding: 0;
          }
        }
      }
      /*FIN Arreglar paddings*/
      .view-roec-home.view-id-roec_home.col-md-6.col-md-offset-5.col-sm-12.text-center{
        background: @dblue;
        .back-port{
          padding: 0 15px;
          background-size: cover;
          height: 1200px;
          background-position: center 61%;
          background-color: #ffffff;
          @media (min-width: 769px) {
            background-position: center 76%;
            height: 1280px;
          }
          @media (max-width: 769px) {
            height:1000px;
            @media (max-width: 500px) {
              height: 780px;
              background-position: center center;
              @media (max-width: 350px) {
                height: 950px;
              }
            }
          }
        }
        .iso-castle-blue {
          padding-top: 2em;
          img{
            height: auto;
            width: 60px;
          }
        }
        .paragraph-sans-blue{
          .title01-sans-white;
          padding: 27px 15px 10px;
          span{
            font-family: trim_medium;
            a{
              color:#23527c;
            }
          }
        }
        .roec-place-and-date{
          .title01-sans-white;
          font-size: 1.1em;
          padding: 0 23%;
        }
        .item-list{
          li{
            display: block;
            margin: 0 auto 35px;
            position: relative;
            width: 230px;

            .title01-serif-blue{
              .title02-serif-white;
            }
            .img-desktop{
              display: none;
              visibility: hidden;
            }
            .img-mobile{
              margin-bottom: 15px;
              img{
                height: auto;
                width: 35px;
              }
            }
            .button-small-white{
              a{
                position:relative;
                color: @dblue;
                padding: 9px 17px;

                display: block;
                margin: 17px auto 0;
                width: 195px;
              }
            }
          }
        }
        .terms{
          a{
            color:#fff;
          }
        }
        .button-small-blue{
          margin-top: 35px;
          a{
            .base-boton;
          	color: @dblue;
          	background-color: #fff;
            font-size: 1.1em;
            padding: 20px 35px;
          }
        }

      }
    }
  }
}
