.page-buy-tickets{
  #main{
    overflow: visible;
  }
  #breadcrumb{
    display: none;
  }
  #content-inner{
    padding-top: 0;
  }

  #content{
    //pantallas muy chicas
    @media screen and (max-width:400px){
      br{
        display: none !important;
      }
      .buttons .button-large-white a{
        font-size: 1em;
        padding: 0;
      }
    }

		@media @desktop{
        background-position: center bottom !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        margin-top: 0;
        padding-bottom: 100px;

        .block-blue {
          .title01-sans-white {
            font-size: 1.5em;
            margin: 5px auto;
            max-width: 390px;
            line-height: 1.2em;
          }
          .paragraph-sans-white {
            margin: 25px auto 0;
            max-width: 403px;
          }
          .buttons {
            margin: 55px auto;
          }
        }
        .block-blue-header {
              .title01-serif-blue {
              max-width: 100%;
          }
        }
		}

    @media @desktop-max {
      .block-blue {
        .title01-sans-white,.paragraph-sans-white,.buttons {
          margin: 25px auto;
          max-width: 500px;
        }
        .paragraph-sans-white{
          max-width: 350px;
        }

      }
    }
  }
  .back-port.block-blue-header{
    @media @desktop-max{
      background-position: center center !important;
    }
  }

  .buttons{
    width: 100%;
    display: block;
    margin-top: 1.2em;
    z-index: 1;
    position: relative;
    >div{
      width: 41%;
      background-color: white;
      margin: 0 auto;
      padding: 1em;
      margin-bottom: 1.5em;
      a{
        color: @bluetxt;
        text-transform: uppercase;
        font-size: 1.3em;
        padding: 8px;
      }
    }
  }
  @media @desktop-max {
      .buttons>div {
          width: 47%;
      }
    }

}
