.page-republic-contact{
  #breadcrumb{
    display: none;
  }
  #content-inner{
    padding-top: 2em !important;
  }
  .iso-castle-blue{
    display: none;
  }
  @media @desktop{
    .iso-castle-white{
      display: none;
    }
    .iso-castle-blue{
      display: block;
    }
  }
  .title01-serif-blue{
    text-transform: uppercase;
    color: white;
    font-size: 1.5em;
    @media @desktop{
      color: @dblue;
      font-size: 2.5em;
    }
  }
  #content{
    background-image: none;
    @media @desktop-max{
      background-color: @dblue;
    }
		@media @desktop{
		    height: 820px!important;
        //background-image: url('../images/bg_roec.jpg');
    		margin-top: 0;
    		background-repeat: no-repeat;
    		background-size: cover;
		}
  }
  .block-blue{
    h5,h6{
      text-transform: uppercase;
      margin-bottom: 0;
    }
    .contact-f,p{
      margin-bottom: 15px;
    }
    .contact-f:last-child{
      margin-bottom: 0;
      p{
        margin-bottom: 0;
      }
    }
    a{
      color: white;
      text-decoration: underline;
      &:hover{color: white;}
    }

    .help-block{
      margin: 0;
      color: white;
      font-size: 0.8em;
    }
    .contact-phone{
      display: block;
      font-weight: bold;
      margin-bottom: -15px;
    }
  }
}
