.page-thank-you-for-signing-in{
  #breadcrumb{
    display: none;
  }
  #content-inner{
    padding-top: 0;
  }
  #main{
    overflow: visible;
  }
  .iso-castle-blue{
    display: block;
    @media screen and (min-width:805px) {
      display: none;
    }
  }
  .title01-serif-blue{
    text-transform: uppercase;
    max-width: 477px;
    color: @dblue;
    font-size: 2.5em;
    @media @desktop{
      max-width: 650px;
    }
  }
  #content{
    background-image: none;
    @media @desktop-max{
      background-color: @dblue;
    }
		@media @desktop{
        background-position: center bottom !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        //height: 1017px !important;
        margin-top: 0;
        padding-bottom: 100px;
    }
  }
  .block-blue{
    .image03{
      width: 91%;
      margin: 0 auto;
      @media @phone{
        width: 65%;
      }
      @media @tablet{
        width: 52%;        
      }
      img{
        width: 100%;
        height: auto;
      }
    }
    .paragraph-sans-white{
      width: 87%;
      margin: 15px auto;
      @media @phone{
        width: 75%;
      }
      @media @tablet{
        width: 100%;
      }
      p{
        font-size: 1.5em;
        @media @tablet{
          font-size: 1.1em;
        }
        br{
          display: none;
          @media @desktop{
            display: block;
          }
        }
      }
    }
    .buttons{
      width: 100%;
      display: block;
      margin-top: 1.2em;
      z-index: 2;
      position: relative;
      >div{
        width: 68%;
        background-color: white;
        margin: 0 auto;
        padding: 1em;
        margin-bottom: 1.5em;
        @media @tablet{
          width: 44%;
        }
        a{
          color: @bluetxt;
          text-transform: uppercase;
          font-size: 1.3em;
        }
      }
    }
  }
}
