.page-questionnaire{
  #main{
    overflow: visible;
  }
  #breadcrumb{
    display: none;
  }
  #content-inner{
    padding-top: 0;
  }

  #content{
		@media @desktop{
        background-position: center bottom !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        //height: 1017px !important;
        margin-top: 0;
        padding-bottom: 100px;
		}
  }
  .back-port.block-blue-header{
    @media @desktop-max{
      background-position: center center !important;
    }
  }

  .block-blue .form-type-checkbox label {
    @media @desktop{
      width: 70px;
    }
  }
  .webform-component-checkboxes{
    @media @desktop-max{
      margin-bottom: 40px;
    }
  }
  .lata-questionnaire{
    height: 215px;
  }
  .block-blue{
    background-image: url("../images/questionnaire-background.jpg");
    background-position: center 184px;
    background-repeat: no-repeat;
    @media @desktop-max{
      background-position: center 275px;
    }
  }
}
