.page-experience-line-up{
	#breadcrumb{
		display: none;
	}
	#content{
		padding: 0;
		margin-top: 0;
		@media @tablet{
			padding-top: 44px!important;
		}
		#content-inner{
			padding-top: 0;
			.box{
				padding: 0;
			}
			.tabs{
				display: none;
			}
			#block-system-main{
				.view-id-experience_line_up{
					text-align: center;
					padding: 0;
					.view-content{
						padding: 0;
						/*Correcciones en dektop para que no sobre espacio abajo de las imagenes*/
						@media screen and (min-width:1920px){
							height: 1080px;
						}
						@media @wide{
							height: 790px !important;
						}
						@media @desktop{
							height: 720px;

							// Correcciones de divs anidados
							> div {
								height: 100%;
								> div {
									height: 100%;
									> span {
										height: 100%;
										display: block;
										> div {
											height: 100%;
										}
									}
								}
							}
							.block-left, .block-right{
								height: 100%
							}
							.block-right{
								position: relative;
								img{
									visibility: hidden;
								}
								.main-experience-img, .grid-experience-img{
									height: 50%;
									width: 100%;
									position: relative;
								}
								.grid-experience-img .item-list{
									height: 100%;
									ul{
										height: 100%;
										li{
											height: 50%;
											width: 50%;
										}
									}
								}

							}
						}
						/* FIN: Correcciones en dektop para que no sobre espacio abajo de las imagenes*/
						>div{
							margin-top: 0;
							.experience-line-up-content{
								@media @desktop{
									padding-top: 20px;
								}
								.img-top{
									padding: 0;
									overflow: hidden;
									@media @desktop{
										display: none;
									}
									img{
										width: 169%;
										height: auto;
									}
								}
								>div{
									&.block-left{
										background: @dblue;
										padding-top: 2.6%;
										padding-bottom: 1.3em;
										@media screen and (min-width:1380px) {
											padding-top: 5%;
											padding-bottom: 5%;
										}
										.scroll{
											height: 305px;
											overflow: hidden;
										}
										.title02-serif-white, .title01-serif-white, .title01-sans-white{
											text-transform: uppercase;
										}
										.title02-serif-white {
											font-size: 1em;
											@media @tablet{
												font-size: 1.2em;
											}
											@media @wide{
												font-size: 1.5em;
											}
										}
										.title01-serif-white{
											font-size: 2em;
											max-width: 380px;
											margin-bottom: 10px !important;
											@media @phone{
												width: 80%;
												margin-left:auto;
												margin-right:auto;
											}
											@media @wide{
												font-size: 2.5em;
												max-width: 450px
											}
											@media @tablet {
												width: 80%;
												margin: 0 auto;
											}
										}
										.title01-sans-white{
											font-size: 1.3em;
											margin: 0 auto;
											text-align: center;
											font-family: 'trim_medium';
											margin-bottom: 2.1%;
											&.uno{
												@media @phone{
													width: 50%;
												}
												@media @tablet{
													width: 56%;
												}
												@media @desktop{
													width: 56%;
												}
												@media screen and (min-width:1380px) {
													width: 46%;
												}
											}
											&.dos{
												width: 100%;
											}
											@media @desktop{
												font-size: 1.2em;
											}
										}
										.paragraph-sans-white{
											margin: 0 auto;
											width: 80%;
											@media @phone{
												width: 68%;
											}
											@media @tablet{
												width: 94%;
											}
											@media @desktop{
												width: 100%;
											}
											p{
												font-family: 'trim_light';
												font-size: 12px;
												br{
													display: none;
													@media @tablet{
														display: block;
													}
												}
												a{
													color: white;
													text-decoration: underline;
												}
												@media @desktop{
													font-size: 11px;
												}
												@media screen and (min-width:1380px) {
													font-size: 12px;
												}
											}
										}
										.items{
											.item-list{
												ul{
													margin-bottom: 1.3846em;
													color: white;
													li{
														list-style-type: none;
														margin: 1em 0;
													}
												}
											}
										}
										.terms-link{
											a{
												color:white;
												font-size: 12px;
												font-family: 'trim_light';
												text-decoration: underline;
												@media @desktop{
													text-decoration: none;
												}
											}
										}
										.button-large-white {
											margin-top: 1em;
											@media screen and (min-width:1380px) {
												margin-top:2em;
											}
											a{
												padding: 1em 1em;
												width: 65%;
												font-family: 'trim_light';
												background-color: white;
												display: block;
												margin: 0 auto;
												@media @desktop{
													width: 24%;
													text-transform: uppercase;
												}
											}
										}
									}
									&.block-right{
										padding: 0;
										.main-experience-img{
											display: none;
											@media @desktop{
												display: block;
											}
											img{
												width: 100%;
												height: auto;
											}
										}
										.grid-experience-img{
											.item-list{
												ul{
													padding: 0;
													margin-top: 0;
													li{
														list-style-type: none;
														@media @desktop{
															width: 50%;
															float: left;
														}
														img{
															width: 100%;
															height: auto;
														}
														&:nth-of-type(2){
															display: none;
															@media @desktop {
																display: block;
															}
														}
														&:nth-of-type(3),&:nth-of-type(4){
															width: 50%;
															overflow: hidden;
															float: left;
															@media @desktop{
																overflow: visible;
															}
															img{
																width: 175%;
																@media @desktop{
																	width: 100%;
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
