.page-term-conditions, .page-roec-terms-conditions {
    .wrapper-content.tb-scope  {
        margin-top: 0px;
        background-image: url(../images/bg_terms_conditions.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;

        .tb-content-wrapper-1 {
            margin-left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }

    .title01-serif-blue{
      margin: 30px 0 -10px;
      font-size: 1.3em;
      @media (min-width: 555px) {
          font-size: 2em;
      }
    }

    .view-id-term_conditions {
        background-color: #fff;
        padding: 20px;
        text-align: center;

        .title {
            color: #007dc5;
            font-family: "aachenbold";
            font-size: 1em;
            width: 80%;
            margin: 20px auto 40px;

            @media (min-width: 555px) {
                font-size: 1em;
            }
        }

        .description {
            text-align: left;
            color: #315d6e;
            font-size: 1em;

            p {
                margin: 0px;
                line-height: 1.7em;

                a {
                    color: #315d6e;
                    text-decoration: none;
                }
            }
        }

        .link {
            margin: 10px 0 0;
            .back-top {
                color: #007dc5;
                   text-decoration: underline;
               }
        }
    }
}
