//colors
@dblue : #007dc4;
@bluetxt : #3d5d72;
@greytxt : #a7a7a7;
//fonts

//media queries (mobile first)
@phone:  ~"screen and (min-width:500px)";
@tablet:  ~"screen and (min-width:769px)";
@desktop:  ~"screen and (min-width:992px)";
@wide:  ~"screen and (min-width:1290px)";

//media queries MAX (desktop first)
@phone-max:  ~"screen and (max-width:500px)";
@tablet-max:  ~"screen and (max-width:769px)";
@desktop-max:  ~"screen and (max-width:992px)";
@wide-max:  ~"screen and (max-width:1290px)";
