/*
 * Aachenbold 
 */

@font-face {
    font-family: 'aachenbold';
    src: url('../fonts/aachen_bold-webfont.eot');
    src: url('../fonts/aachen_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aachen_bold-webfont.woff2') format('woff2'),
         url('../fonts/aachen_bold-webfont.woff') format('woff'),
         url('../fonts/aachen_bold-webfont.ttf') format('truetype'),
         url('../fonts/aachen_bold-webfont.svg#aachenbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * Trim
 * 
 * Cuando consigamos la familia reemplacemos los archivos
 */
@font-face {
    font-family: 'trim_regular';
    src: url('../fonts/Trim-Regular.eot');
    src: url('../fonts/Trim-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Trim-Regular.otf')  format('opentype'),
		 url('../fonts/Trim-Regular.woff') format('woff'),
		 url('../fonts/Trim-Regular.ttf')  format('truetype'),
		 url('../fonts/Trim-Regular.svg#Trim-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trim_medium';
    src: url('../fonts/Trim-Medium.eot');
    src: url('../fonts/Trim-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Trim-Medium.otf')  format('opentype'),
		 url('../fonts/Trim-Medium.woff') format('woff'),
		 url('../fonts/Trim-Medium.ttf')  format('truetype'),
		 url('../fonts/Trim-Medium.svg#Trim-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'trim_light';
    src: url('../fonts/Trim-Light.eot');
    src: url('../fonts/Trim-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Trim-Light.otf')  format('opentype'),
		 url('../fonts/Trim-Light.woff') format('woff'),
		 url('../fonts/Trim-Light.ttf')  format('truetype'),
		 url('../fonts/Trim-Light.svg#Trim-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
